<div class="alert alert-error" ng-show="error">
    {{errorMessage}}
</div>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputName">Menu Name</label>

        <div class="controls">
            <input type="text" id="inputName" ng-model="menu.name" placeholder="Menu Name" required min="2">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputOrder">OrderId</label>

        <div class="controls">
           <select class="span3" ng-model="menu.orderId" ng-options="o for o in orders" required>
             	<option value="">-- choise --</option>
           </select><br>
        </div>
    </div>
    <div class="control-group">
        <hr />
        <div class="controls">
            <button type="button" class="btn btn-primary" ng-disabled="!menu.name || !menu.orderId" ng-hide="editMode" ng-click="addNewMenu(menu)">Add Menu</button>
            <button type="button" class="btn btn-primary" ng-disabled="!menu.name || !menu.orderId" ng-show="editMode" ng-click="updateMenu(menu)">Save Menu</button>
            <button type="button" class="btn" ng-click="resetMenuForm()">Reset</button>
        </div>
    </div>
</form>
<hr />
<h3>Menus List</h3>
<div class="alert alert-info" ng-show="menus.length == 0">
    No menus found
</div>
<table class="table table-bordered table-striped" ng-show="menus.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Id</th>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">OrderId</th>
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="menu in menus | orderBy:predicate">
            <td style="text-align: center;">{{menu.id}}</td>
            <td><a href="#/menus/{{menu.id}}">{{menu.name}}</a></td>
            
            <td>{{menu.orderId}}</td>
            <td style="width:100px;text-align: center;">
                <button class="btn btn-mini btn-danger" ng-click="removeMenu(menu.id)">Remove</button>
                <button class="btn btn-mini btn-success" ng-click="editMenu(menu)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" ng-show="menus.length > 1" ng-click="removeAllMenus()">Remove All Menus</button>